.board {
  display: flex;
  padding: 16px;
  min-height: 100vh;
  flex-wrap: wrap; 
  align-items: flex-start;
  
}

.column {
  box-sizing: border-box;
  font-size: 0.9rem;
  flex: 1 1 250px;
  margin: 20px;
  padding: 12px; 
  border-radius: 10px; 
  box-shadow: 0.3em 0.6em 0.3em 0em rgba(64, 91, 173, 0.3); 
  border: dashed 0.1rem cornflowerblue;
  display: flex;
  flex-direction: column; 
  
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, select {
  margin: 10px;
}

.card {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid cornflowerblue; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  line-height: 1.4; 
  max-width: 100%; 
}


h1, h4{
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  margin: 10px;
}


input.error, select.error {
  border: 2px solid red;
  background-color: #ffe6e6;
  margin: 20px 0px 0px 0px;
}


.error-text {
  color: #f12828df;
  align-self: start;
}



@media (max-width: 767px) {

  .column {
    background-color: rgba(0, 0, 255, 0.181) ;
    flex: 1 1 100%; 
  }

}

@media (min-width: 768px) and (max-width: 1399px) {

  .column {
    background-color: rgba(232, 138, 209, 0.121) ;
       flex: 1 1 calc(50% - 40px);
  }

}
